<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Users List</title>
	<meta charset="utf-8">
</head>
<body>

<div align="center">
	<h2>User List</h2>
		<a th:href="@{/users/showFormForAdd}">Create New User</a>
	</nav>
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
		<tr>
			<th>User ID</th>
			<th>Login</th>
			<th>Password</th>
			<th>Action</th>
		</tr>
		</thead>
			<tbody>
			<tr th:each="user : ${usersList}">
				<td th:text="${user.id}">User ID</td>
				<td th:text="${user.login}">Login</td>
				<td th:text="${user.password}">Password</td>
				<td>
					<a th:href="@{/users/showFormForUpdate(id=${user.id})}">Edit</a>
					&nbsp;&nbsp;&nbsp;
					<a th:href="@{/users/deleteUser(id=${user.id})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
</div>
</body>
</html>